html body {
  font-family: Georgia ,微軟正黑體, "Microsoft JhenHei", "Microsoft Yahei";
}

article {
  border: 1px solid rgba(0,0,0,.09);
  padding: 25px;
}


img.resize {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div .content {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  margin-top: 80px;
  font-weight: bolder !important;
}

a {
  text-decoration: none;
}

.NodeJS {
  background-color: green;
  color: #fff;
  border-radius: 5px;
  font-family: 微軟正黑體, "Microsoft JhenHei", "Microsoft Yahei";
}

.gatsbyjs {
  background-color: #663399;
  color: #fff !important;
  border-radius: 5px;
  font-family: 微軟正黑體, "Microsoft JhenHei", "Microsoft Yahei";
}

.description {
  color: rgba(0,0,0,.54)
}